langchain
langchain-community
langchain-openai
langchain-google-genai
langgraph-cli[inmem]
chromadb 
sentence_transformers
rank_bm25
transformers
lxml
huggingface-hub
json5 
fastapi
spacy
uvicorn
google-generativeai
rich
psycopg2-binary
python-dotenv
